html {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0px;
}

p {
	margin-bottom: 0px;
}

.list {
	padding: 0px;
	margin: 0px;

	list-style: none;
}

.link {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

button {
	font: inherit;
	border: none;

	cursor: pointer;
}