
<section class = "gallery-section" >

<div class = "container">
  <!--hidden-->
  <h2 class ="visually-hidden">schedule of events</h2>
  <ul class = "gallery__list" >
    <li class = "gallery__card" >
      <div class="gallery__div">
        <button class="gallery__click animation"></button>
        <h1>Eurovision
          2021 finals!</h1>
          <p>2021-05-13</p>
        <p>Palace of Ukraine</p>
    </div>
    </li>
  </div>
</ul>
<ul class="pagination">
	<li class="pagination__page current-page">1</li>
	<li class="pagination__page">2</li>
	<li class="pagination__page">3</li>
</ul>
</section>
