<section class="hero"> 
    <div class="container hero__container">
        <h1 class="hero__title">FIND BEST EVENTS AROUND THE WORLD</h1>
        
<form class="search">
    <div class="search__form">
    <label class="search__field">
        <input autocomplete="off"
            class="search__element"
            name="start-searching"
            id="search-form"
            type="text"
            placeholder="Start searching"
            />
            <svg class="search__svg" width="12" height="12">
                <use href="./images/sprite.svg#Lupa"></use>
            </svg>
    </label>
</div>
<div class="select__form">
    <select class="select__field search__element">
        <option class="select__choose-country" value="">Choose country</option>
    </select>
    <label class="select__label">
        <svg class="select__svg" width="12" height="12">
            <use href="./images/sprite.svg#Strilka">
            </use>
        </svg>
    </label>
</div>
</form>
    </div>
</section>