<section class="hero"> 
    <div class="container hero__container">
        <h1 class="hero__title">FIND BEST EVENTS AROUND THE WORLD</h1>
        
<form class="search">
    <label class="search__field">
        <input autocomplete="off"
            class="search__element"
            name="start-searching"
            id="search-form"
            type="text"
            placeholder=" "
            />
        <samp class="search__text">Start searching<span><svg class="search__svg">
                <use href="./images/sprite.svg#Lupa"></use>
              </svg>
            </span>
        </samp>
    </label>
</form>     

<form class="select">
    <select class="select__field">
        <option class="select__choose-country" value="">Choose country</option>
    </select>
    <label class="select__label">
        <svg class="select__svg">
            <use href="./images/sprite.svg#Strilka">
            </use>
        </svg>
    </label>
</form>
    </div>
</section>