<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-button" type="button">
      <svg class="modal-button__icon" width="17" height="17">
        <use
          class="modal-button__icon--close"
          href="./images/sprite.svg#icon-Close"
        ></use>
      </svg>
    </button>
    <div class="modal__wrap">
      <img
        class="modal__preview"
        src="./images/img-modal/img-small-mb.jpg"
        alt="preview-poster"
      />

      <div class="content">
        <img
          class="content__image"
          src="./images/img-modal/img-big-tab.jpg"
          alt="poster"
        />

        <ul class="content__list">
          <li class="content__item">
            <h2 class="modal__title">INFO</h2>
            <p class="modal__text text-wrap">
              Atlas Weekend is the largest music festival in Ukraine. More than
              200 artists will create a proper music festival atmosphere on 10
              stages
            </p>
          </li>
          <li class="content__item">
            <h2 class="modal__title">WHEN</h2>
            <p class="modal__text">2021-06-09</p>
            <p class="modal__text">20:00 (Kyiv/Ukraine)</p>
          </li>
          <li class="content__item">
            <h2 class="modal__title">WHERE</h2>
            <p class="modal__text">Kyiv, Ukraine</p>
            <p class="modal__text">VDNH</p>
          </li>
          <li class="content__item">
            <h2 class="modal__title">WHO</h2>
            <p class="modal__text">The Black Eyed Peas</p>
          </li>
          <li class="content__item">
            <h2 class="modal__title">PRICES</h2>

            <ul class="price__list">
              <li class="price__item">
                <div class="price__wrap">
                  <svg width="24" height="16">
                    <use href="./images/sprite.svg#Ticket"></use>
                  </svg>
                  <p class="modal__text">Standart 300-500 UAH</p>
                </div>
                <a class="modal__btn" href="">BUY TICKETS</a>
              </li>
              <li class="price__item">
                <div class="price__wrap">
                  <svg width="24" height="16">
                    <use href="./images/sprite.svg#Ticket"></use>
                  </svg>
                  <p class="modal__text">VIP 1000-1500 UAH</p>
                </div>
                <a class="modal__btn" href="">BUY TICKETS</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <a class="btn-info" href="https://www.google.com"
        >MORE FROM THIS AUTHOR</a
      >
    </div>
  </div>
</div>