<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modal__wrap">
      <img
        srcset="
          ./images/img-modal/img-small-mb.jpg  102w,
          ./images/img-modal/img-small-tab.jpg  70w,
          ./images/img-modal/img-small-lg.jpg  132w
        "
        src="./images/img-modal/img-small-mb.jpg"
        alt="icon-poster"
        width="102"
        height="102"
      />
      <div>
        <div>
          <img
            srcset="
              ./images/img-modal/img-big-tab.jpg 249w,
              ./images/img-modal/img-big-lg.jpg  427w
            "
            src="./images/img-modal/img-small-mb.jpg"
            alt="poster"
            width="249"
            height="664"
          />
        </div>
        <div>
          <ul>
            <li>
              <h2 class="modal__title">INFO</h2>
              <p class="modal__text">
                Atlas Weekend is the largest music festival in Ukraine. More
                than 200 artists will create a proper music festival atmosphere
                on 10 stages
              </p>
            </li>
            <li>
              <h2 class="modal__title">WHEN</h2>
              <p class="modal__text">2021-06-09</p>
              <p class="modal__text">20:00 (Kyiv/Ukraine)</p>
            </li>
            <li>
              <h2 class="modal__title">WHERE</h2>
              <p class="modal__text">Kyiv, Ukraine</p>
              <p class="modal__text">VDNH</p>
            </li>
            <li>
              <h2 class="modal__title">WHO</h2>
              <p class="modal__text">The Black Eyed Peas</p>
            </li>
            <li>
              <h2 class="modal__title">PRICES</h2>
              <ul>
                <li>
                  <svg width="24" height="16">
                    <use href="./images/sprite.svg#Ticket"></use>
                  </svg>
                  <p class="modal__text">Standart 300-500 UAH</p>
                  <a href="">BUY TICKETS</a>
                </li>
                <li>
                  <svg width="24" height="16">
                    <use href="./images/sprite.svg#Ticket"></use>
                  </svg>
                  <p class="modal__text">VIP 1000-1500 UAH</p>
                  <a href="">BUY TICKETS</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <a class="modal__btn" href="#">MORE FROM THIS AUTHOR</a>
    </div>
  </div>
</div>
